@import "./page-transition-loading-animation.css";
@import "./icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Theme variables */
    --background: 20 14.3% 4.1%;
    /* --foreground: 60 9.1% 97.8%; */
    --foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 35.5 91.7% 32.9%;
    /* Custom global layout variables */
    --header-sticky-height: 4rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.prose-invert {
  --prose-base: var(--foreground);
  /* --prose-base: 60 4.17% 90.59%; */
  /* Prose */
  --tw-prose-invert-body: hsl(var(--prose-base));
  --tw-prose-invert-headings: hsl(var(--prose-base));
  --tw-prose-invert-lead: hsl(var(--prose-base));
  --tw-prose-invert-links: hsl(var(--prose-base));
  --tw-prose-invert-bold: hsl(var(--prose-base));
  --tw-prose-invert-counters: #8d9191;
  --tw-prose-invert-bullets: #8d9191;
  --tw-prose-invert-hr: #3d3f40;
  --tw-prose-invert-quotes: hsl(var(--prose-base));
  --tw-prose-invert-quote-borders: #3d3f40;
  --tw-prose-invert-captions: hsl(var(--prose-base));
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: hsl(var(--prose-base));
  --tw-prose-invert-pre-code: hsl(var(--prose-base));
  --tw-prose-invert-pre-bg: #202222;
  --tw-prose-invert-th-borders: #3d3f40;
  --tw-prose-invert-td-borders: #3d3f40;
}
